.app-logo{
    height: 100%;
    width: 70px;
    display: inline;

}
a {
    color: #acacac;
    text-decoration: none;
}

.nav-bar{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.nav-bar i {
    padding-right: 5px;
}
.user-nav {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.novel-nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.app-header{
    height: 74px;
    flex: 1;
    display: flex;
    background-color: #121212;
    font-size: 20px;
    line-height: 21px;
    border-bottom: 1px #6c6c6c solid;
}