<header class="app-header">
    <div class="wrapper">
        <img src={{logoSrc}} alt="Logo for the page" class="app-logo">
        <nav class="nav-bar">
            <nav class="novel-nav">
                <a class="nav-link">
                    <i class="fas fa-th-large" title="Browse"></i>
                    <span>Browse</span>
                </a>
                <a class="nav-link">
                    <i class="fas fa-bullhorn" title="News"></i>
                    <span>News</span>
                </a>
                <a class="nav-link">
                    <i class="fas fa-pencil" title="News"></i>
                    <span>Writing</span>
                </a>
            </nav> 
            <nav class="user-nav">
                <a href=""><i class="fas fa-crown" title="Premium"></i></a>
                <a href=""><i class="fas fa-search" title="Search"></i></a>
                <a href=""><i class="fas fa-user" title="User"></i></a>
            </nav>
        </nav> 
    </div>
</header>